{% extends "layout.html" %}
{% block content %}
  {% set currentId = request.args.get('scrum_id') %}
  <div class="cd-content">
    <div class="cd-sidebar">
      <ul class="cd-sidebar__list">
          {% for project in projects %}
            <li class="cd-sidebar__heading">{{project.title}}</li>
            {% for scrum in scrums %}
              {% if scrum.project_id == project.id %}
                <li class="cd-sidebar__item
                {% if scrum.id|string == request.args.get('scrum_id') %}active{% endif %}"><a href="{{url_for('index', scrum_id=scrum.id)}}">{{ scrum.No }}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
      </ul>
    </div>
    <div class="cd-main">
      <div class="cd-main__heading">
        <div class="cd-main__title">燃尽图</div>
      </div>
      <div class="cd-main__body">
        <div id="chart"></div>
        <form action="{{url_for('addSprint', scrum_No=request.args.get('scrum_No'))}}" class="row cd-row" method="POST" style="margin-top: 30px">
          <div class="col-md-3">
            <div class="form-group cd-form-group">
              <label for="day">日期</label>
              <input type="text" id="day" name="day" class="cd-form-control" value="" placeholder="2019-08-22" >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group cd-form-group">
              <label for="day">剩余点数</label>
              <input type="text" id="left_sprint" name="left_sprint" class="cd-form-control" value="" placeholder="" >
            </div>
          </div>
          <div class="col-md-3">
            <input type="text" name="scrum_id" class="hidden" value="{{currentId|default(None)}}">
            <button class="btn cd-btn cd-btn-primary" type="submit" data-loading-tex="正在保存...">保存</button>
          </div>
        </form>
        <div class="cd-table-responsive">
          <table class="cd-table">
            <thead>
              <tr>
                <th>编号</th>
                <th>日期</th>
                <th>剩余点数</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              {% if scrumList != None %}
                {% for item in scrumList %}
                  <tr>
                    <td class="item-id">{{item.id}}</td>
                    <td>{{item.day}}</td>
                    <td class="point-item">{{item.left_sprint}}</td>
                    <td class="hidden point-input">
                      <input type="text" id="point" name="left_point" class="cd-form-control point-input" value="{{item.left_sprint}}" data-url="{{url_for('updateSprint')}}" data-id="{{currentId}}">
                    </td>
                    <td>
                      <button class="btn cd-btn cd-btn-info cd-btn-sm update-scrum">修改</button>
                      <button class="btn cd-btn cd-btn-info cd-btn-sm">删除</button>
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script async defer>
    var date = {{source.dates|tojson}}
    var defaults = {{source.stand_values}}
    var actual_values = {{source.actual_values}}

    var options = {
      chart: {
        type: 'spline'
      },
      title: {
          text: ''
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      xAxis: {
          title: {
              text: '日期'
          },
          labels: {
            formatter: function() {
              return date[this.value];
            }
          },
          tickInterval:1
          // categories: date
      },
      yAxis: {
          title: {
              text: 'SP'
          }
      },
      series: [{
          name: '标准线',
          data: defaults,
          dashStyle: 'shortDot',
      }, {
          name: '实际线',
          data: actual_values
      }]
  };
  var chart = Highcharts.chart('chart', options);
  </script>
  <script src="../static/js/index.js"></script>
{% endblock %}