{% extends "layout.html" %}
{% block content %}
  <div class="cd-content">
    <div class="cd-sidebar">
      <ul class="cd-sidebar__list">
          {% for project in projects %}
            <li class="cd-sidebar__heading">{{project.title}}</li>
            {% for scrum in scrums %}
              {% if scrum.project_id == project.id %}
                <li class="cd-sidebar__item {% if scrum.No == request.args.get('scrum_No') %} active {% endif%}"><a href="{{url_for('index', scrum_No=scrum.No)}}">{{ scrum.No }}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
      </ul>
    </div>
    <div class="cd-main">
      <div class="cd-main__heading">
        <div class="cd-main__title">燃尽图</div>
      </div>
      <div class="cd-main__body">
        <div id="chart"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script async defer>
    var date = {{source.dates|tojson}}
    var defaults = {{source.stand_values}}
    var actual_values = {{source.actual_values}}

    var options = {
      chart: {
        type: 'spline'
      },
      title: {
          text: '日常迭代燃尽图'
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      xAxis: {
          title: {
              text: '日期'
          },
          labels: {
            formatter: function() {
              return date[this.value];
            }
          },
          tickInterval:1
          // categories: date
      },
      yAxis: {
          title: {
              text: 'SP'
          }
      },
      series: [{
          name: '标准线',
          data: defaults,
          dashStyle: 'shortDot',
      }, {
          name: '实际线',
          data: actual_values
      }]
  };
  var chart = Highcharts.chart('chart', options);
  </script>
{% endblock %}