<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css_sheet %}
      <link rel="stylesheet" href="{{ url_for('static', filename='codeages-design.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='temp.css') }}">
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block script_sheet %}
      <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    {% endblock %}
    {% block script %}{% endblock %}
  </body>
</html>
